[submodule "code/Grounded-Segment-Anything"]
	path = code/Grounded-Segment-Anything
	url = https://github.com/narchitect/Grounded-Segment-Anything.git
[submodule "code/SceneGraphGenZeroShotWithGSAM"]
	path = code/SceneGraphGenZeroShotWithGSAM
	url = https://github.com/narchitect/SceneGraphGenZeroShotWithGSAM.git
